h4 {
    margin: 2rem 0rem 1rem;
    color: red;
}


.container {
    color: red;
    padding: 2rem 0rem;
}


td, th {
    vertical-align: middle;
}

.bar-tools{
    position: absolute;
    left: 1175px;
    top: 20px;
    text-align: right;
}
.checkboxes-tools{
    position: absolute;
    left: 265px;
    top: 20px
}

.home-container{
    position: absolute;
    top: 15px;
    left: 750px;
}


.custom-checkbox {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

.container{
    position: absolute;
    left: 250px;
    top: 90px;
}


.custom-button{
    padding: 1px 28px;
}
