<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/register}" method="post" th:object="${user}">
<!--    <input type="text" id="email" name="email" th:value="${credits.email}"   placeholder="Email">-->
<!--    <input type="text" id="name" name="name" th:value="${credits.name}" placeholder="Name">-->
<!--    <input type="text" id="password" name="password" th:value="${credits.password}" placeholder="password">-->
    <input type="text" th:field="*{email}" placeholder="Email">
    <input type="text" th:field="*{name}" placeholder="Name">
    <input type="text" th:field="*{password}" placeholder="password">
    <input type="submit" value="Register user">
</form>
</body>
</html>